__pycache__
3.2 - 01_04 Tramo B1-B2_resultadoTransformado_AnalisisTachas.MP4
3.2 - 01_04 Tramo B1-B2_resultadoTransformado_conAnalisisTachas.MP4
3.2 - 01_04 Tramo B1-B2_resultadoTransformado_conAnalisisTachas_NN.MP4
3.2 - 01_04 Tramo B1-B2_resultadoTransformado.MP4
/videos/*
!/videos/.gitkeep
resultado_Transformado.MP4
mapas_dinamicos/
*.xlsx
